.snakbar div{
    background-color: #333;
    color: white;

    min-width: 150px;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.snakbar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);


    opacity: 0;
    pointer-events: none;

    transition: bottom 0.5s, opacity 0.5s;
}

.snakbar.show {
    bottom: 30px;
    
    opacity: 1;
    pointer-events: all;
}